* {
    font-family: 'Mukta', sans-serif;
}
p, a, li {
    font-size: 20px;
}
h1 {
    font-size: 100px !important;
    position: relative;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    z-index: 0;
}
h1::after {
    content: "";
    background: #5be7f1;
    height: 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: -2rem;
    z-index: -1;

}
h2 {
    font-size: 40px !important;
}
a.button, button.button {
    box-sizing: border-box;
    border-radius: .25rem;
    border: none;
    box-shadow: none;
    padding: 16px 48px;
    text-decoration: none;
    background: #FFC300;
    color: #212529 !important;
    transition: .2s;
}
.button:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.48);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.48);
}
.button:active {
    transform: translateY(2px);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
nav {
    padding: 1.2rem;
}
#navDropdown {
    display: block;
    text-align: right;
    margin-bottom: 0;
}
nav li {
    display: inline;
}
nav a {
    text-decoration: none;
    padding: 1rem;
}
#navDropdown a {
    transition: .2s ease-in-out;
}
#navDropdown a:hover {
    color: #ED217C !important;
}
.burger {
    display: none !important;
    position: absolute;
    right: 2rem;
    padding: 4px;
}
.burger:hover {
    transform-origin: center;
    transform: scale(1.05);
}
.skills ul {
    columns: 2;
    list-style: none;
}
.skills ul li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 10px 0 -15px;
    color: #ED217C;
}
.show-menu {
    display: block !important;
}
section {
    min-height: 300px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-image {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero {
    height: calc(100vh - 69px);
}
.card {
    min-height: 250px;
    border-radius: 0;
    border-color: #21252970;
}
.card-body {
    margin: 12px;
}
.fw-300 {
    font-weight: 300;
}
.card-shadow {
    border-radius: .25rem;
    border: 2px solid rgb(91, 231, 241);
    -webkit-box-shadow: 1px 1px 3px 0px  rgba(0,0,0,0.48);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.48);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.48);
}
.form-control {
    height: 56px;
    border: 1px solid #21252970;
}
.form-control:focus {
    border: 2px solid rgb(91, 231, 241);
    -webkit-box-shadow: 1px 1px 3px 0px  rgba(0,0,0,0.48);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.48);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.48);
}
footer {
    height: 10vh;
    display: flex;
    align-items: center;
}
.card-header {
    background-color: transparent;
    border: none;
}
@media only screen and (max-width: 767px) {
    .burger {
        display: inline-block !important;
        z-index: 1;
    }
    #navDropdown {
        display: none;
        padding-top: 2rem;
        position: absolute;
        right: 1rem;
        top: 2rem; 
        z-index: 0;
    }
    #navDropdown a {
        color: #21252970 !important;
    }
    nav {
        height: 60px;
    }
    nav li {
        display: block;
    }
    .skills ul {
        columns: 1;
        list-style: none;
    }
    h1 {
        font-size: 10vw !important;
    }
    .hero {
        height: calc(100vh - 60px);
    }
    .hero h2 {
        font-size: 7vw !important;
    }
}
